.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  text-align: center;
  
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
a{
  text-decoration: none;
  color: #fff;
}


.btn {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 29px;
  background: #393E46;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;

}

.btn:hover {
  background: #616975;
  text-decoration: none;
}
.button1{
  text-align: center;
  display: inline-block;
  line-height: 2rem;
  font-size: large;
  margin: 70px ;
}